<div class="form-group" data-bind="visible: visible">
  <label class="control-label" for="<%= PropertyName %>">
    <span><%= PropertyDisplayName %></span>
    <span data-bind="visible: Required">(<%= localizationHelper.localize('Required', 'Required') %>)</span>
    <span data-bind="visible: LimitLength" style="font-weight: normal; float:right; color: #6E8B9B;">
      <span name="<%= PropertyName %>CharactersRemaining" data-bind="html: charactersRemaining"></span>
      <span>characters remaining</span>
    </span>
  </label>
  <textarea
    name="<%= PropertyName %>"
    class="k-textbox form-control input-sm"
    rows="<%= Rows %>"
    placeholder="<%= PlaceHolder %>"
    data-bind="value: <%= PropertyName %>, events : { keyup: textCounter }, disabled: Disabled"
    data-value-update="keyup"
    <% if (LimitLength) { %> maxlength="<%= MaxLength %>" <% } %>
    <% if (Required) { %> required <% } %>
  ></textarea>
</div>
