<div class="form-group <%= visible %>" style="">

    <label class="control-label" for="<%= PropertyName %>">
        <span><%= PropertyDisplayName %> <% if (Required) { %> (<%= localization.Required %>)<% } %></span>
        <span style="font-weight: normal; float:right; color: #6E8B9B;">
            <span name="<%= PropertyName %>CharactersRemaining" data-bind="html: CharactersRemaining"></span>
            <span>characters remaining</span>
        </span>
    </label>
    <textarea name="<%= PropertyName %>"
              class="k-textbox form-control input-sm"
              rows="<%= Rows %>"
              placeholder="<%= PlaceHolder %>"
              data-bind="value: <%= PropertyName %>, events : { <% if ( LimitLength ){ %>blur: CheckLength<% } %>, keyup: TextCounter }"
              data-value-update="keyup"
            <% if (LimitLength) { %>
              maxlength="<%= MaxLength %>"
            <% } %>
            <% if (Disabled) { %>
              disabled
            <% } %>
            <% if (Required) { %>
              required
            <% } %>
    >
    </textarea>
    <% if (LimitLength) { %>
    <p class="help-block validation-summary-errors" style="display: none;"><%= localization.MaxLengthError.replace("{0}", MaxLength) %></p>
    <% } %>
</div>
<script>
    $("textarea[name='ResolutionDescription']").removeClass("form-control");
</script>