<div id="ResolveIncidentWindow" class="cireson-window defined-form hide" style="padding-bottom: 0px;">
    <div class="cireson-window--wrapper">
        <div class="cireson-window--body">
            <div id="resolutionCategory"/>
            <div id="resolutionDescription"/>
            <div id="resolutionAssignToMe"/>
        </div>
        <div class="window-buttons cireson-window--footer" style="line-height: 65px; height: 65px">
            <div id="resolveIncidentErrorWin" class="error"></div>
            <button data-role="button"
                    class="btn btn-primary"
                    data-bind="enabled: okEnabled, events: { click: okClick }">
                <%= localization.OK %>
            </button>
            <button data-role="button"
                    class="btn btn-default"
                    data-bind="events: { click: cancelClick }">
                <%= localization.Cancel %>
            </button>
        </div>
    </div>
</div>
