<%
if (_.isUndefined(cssclass)) {
   var cssclass = "col-md-6 col-xs-12";
}
if (_.isUndefined(id)) {
   var id = (Math.floor(Math.random() * 999999999999) + 1);
}
%>
<div class="<%= cssclass %>" id="AddInformation_<%= id %>">
    <% if (!_.isUndefined(id)) { %>
        <%= info %>
    <% } else { %>
        <i class="fa fa-question-circle AROHoverIcon"
           id="AddInformationHover_<%= id %>"
           onmouseenter="$(this).after('<div id=\'AddInformationHoverText_<%= id %>\'><%= icon %></div>')"
           onmouseleave="$('#AddInformationHoverText_<%= id %>').remove()"
        ></i>
    <% } %>
</div>
