<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache, public, max-age=86400" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <location path="custom.css">
        <system.webServer>
            <httpRedirect enabled="true" destination="/CustomSpace/custom.min.css" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>
</configuration>
