/*
  Custom Request Offerings
*/


/*
  Left Indents
*/
.indent-0 {
  padding-left: 30px;
}

.indent-1 {
  padding-left: 60px;
}

.indent-2 {
  padding-left: 90px;
}

.indent-3 {
  padding-left: 120px;
}

.indent-4 {
  padding-left: 160px;
}


/*
  ARO Information Icon CSS
*/
i.AROHoverIcon {
  font-size: 36px;
  color: blue
}

/*
  Styles for the datepicker in the Request Offering Toolbox.
  These are required so that the date picker matches the date time picker on the forms.
*/
body .k-datepicker .k-select {
  border-radius: 0;
}
span.k-datepicker .k-select, span.k-datepicker .k-select+.k-select {
  right: 0;
}
.defined-form .k-datepicker .k-select {
  position: static;
}
.defined-form .k-datepicker .k-select span.k-icon {
  margin: 3px 7px 0 0;
  background-image: none;
  overflow: visible;
}
.defined-form .k-datepicker .k-select span.k-icon.k-i-calendar:before {
  content: "\f073";
  font-family: FontAwesome;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  line-height: 20px;
  color: #008fd6;
  position: absolute;
  margin: 5px 0 0 -10px;
}

/*
  Normalize Text Areas To Match Other Input
*/
.question-container textarea, .k-multiselect.k-header {
  overflow: auto;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 5px 10px;
  line-height: 30px;
  min-height: 32px !important;
  max-height: 122px;
}

/*
  Normalize Query Picker
*/
.defined-form .k-widget.k-multiselect.k-header {
  padding: 0px;
}
.multi-query-textfield__multiselect-field .icon-addon {
  top: 25%;
}

.multi-query-textfield__multiselect-field .k-multiselect-wrap,
.multi-query-textfield__multiselect-field .k-multiselect-wrap .k-input {
  line-height: 30px;
  height: inherit;
}

.question-container panel {
  margin-top: 20px;
}

/*
  Reset Auto-Sized Text Areas
*/
.question-container textarea.auto-size {
  height: auto;
}

.question-container textarea.auto-size.max-rows-4 {
  max-height: 122px;
}

.question-container textarea.auto-size.max-rows-6 {
  max-height: 183px;
}

.question-container textarea.auto-size.max-rows-8 {
  max-height: 244px;
}

.question-container textarea.auto-size.max-rows-none {
  max-height: none;
}

/*
  Update Grid Checkbox styling
*/
/*
.k-grid-checkbox-header {
  width: 30px;
}*/

.k-enum-grid {
  margin-top: 0px;
  margin-bottom: 0px;
}

/**
 * Hide enumGrid related TextArea input by default
 */
.k-enum-grid-input {
  display: none;
}

.k-enum-grid .k-dirty {
  display: none;
}

.k-hide-unselected {
  visibility: hidden;
}

.k-state-selected .k-hide-unselected {
  visibility: visible;
}

.k-grid-checkbox-header label {
  margin-bottom: 4px !important;
  padding-left: 0px;
  text-transform: none;
  margin-left: 6px;
}

.k-grid-checkbox label {
  margin-bottom: 4px !important;
  padding-left: 0px;
  text-transform: none;
}

.k-grid-checkbox .checkbox-label:before,
.k-grid-checkbox label:before,
.k-grid-checkbox-header .checkbox-label:before,
.k-grid-checkbox-header label:before {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  left: 0;
  top: -1px;
  border: 1px solid #a3b7c1;
  border-radius: 3px;
  background-color: #fff;
  transition: border .15s,color .15s;
  color: #fff;
  content: "";
  font-family: FontAwesome;
  font-size: 16px;
  /*margin-left: 8px;*/
}

.k-grid-checkbox-header input[type=checkbox]:checked~.checkbox-label:before,
.k-grid-checkbox-header input[type=checkbox]:checked+label:before,
.k-grid-checkbox input[type=checkbox]:checked~.checkbox-label:before,
.k-grid-checkbox input[type=checkbox]:checked+label:before,
.k-state-selected .k-grid-checkbox .checkbox-label:before,
.k-state-selected .k-grid-checkbox label:before {
  color: #fff;
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 16px;
  /*margin-left: 8px;*/
}

.k-grid-checkbox input[type=checkbox]:checked+label:before,
.k-grid-checkbox input[type=checkbox]:checked~.checkbox-label:before,
.k-grid-checkbox-header input[type=checkbox]:checked+label:before,
.k-grid-checkbox-header input[type=checkbox]:checked~.checkbox-label:before,
.k-state-selected .k-grid-checkbox label:before,
.k-state-selected .k-grid-checkbox .k-checkbox-label:before {
  background-color: #008ed6;
  border-color: #008ed6;
}

.k-grid-checkbox-header input[type=checkbox]:checked+label:after,
.k-grid-checkbox-header input[type=checkbox]:checked~.checkbox-label:after,
.k-state-selected .k-grid-checkbox label:before,
.k-state-selected .k-grid-checkbox .k-checkbox-label:before,
.k-state-selected .k-grid-checkbox label:after,
.k-state-selected .k-grid-checkbox .k-checkbox-label:after {
  color: #fff;
}

/*
.k-grid-checkbox .k-checkbox:checked+.k-checkbox-label:before,
.k-grid-checkbox-header .k-checkbox:checked+.k-checkbox-label:before {
  content: "";
}
*/

.k-grid-checkbox input[type=checkbox],
.k-grid-checkbox-header input[type=checkbox] {
  display: none;
}


.defined-form .form-group .k-dropdown-wrap.k-state-border-down {
  padding-bottom: 1px;
}

/**
 * Hide roTask Container by default
 * Hide roTask Container Content by default
 */
.task-container,
.task-container .task-container-content {
  display: none;
}

/*
 Show roTask Row Container By Default
*/
.task-container.row-container {
  display: block;
}
