/*
 * Custom Grid Tasks
 */

/*
 * Targeting Specific Icons
 */
/*
a.ra-grid-task-icon i {
  color: #FF0000;
}

a.ra-grid-task-icon i:hover {
  color: #00FF00;
}
*/

/*
 * Remove Default Arrow Icon
 */
.k-grid tr:hover td.grid-highlight-column-last a:after,
.k-grid tr:hover td.grid-highlight-column-title a:after,
.k-grid .k-state-selected td.grid-highlight-column-last a:after,
.k-grid .k-state-selected td.grid-highlight-column-title a:after {
  content: none;
}

/*
 * Menu visibility and adjustment for default icon margin.
 */
.k-grid .grid-highlight-column .ra-grid-task-menu,
.k-grid .grid-highlight-column-title .ra-grid-task-menu,
.k-grid .grid-highlight-column-last .ra-grid-task-menu {
  visibility: hidden;
  margin-right: -17px;
}

.k-grid tr:hover .ra-grid-task-menu,
.k-grid .k-state-selected .ra-grid-task-menu {
  visibility: visible;
}

/*
 * Base Menu
 */
.k-grid .ra-grid-task-menu {
  display: inherit;
  list-style: none;
  float:right;
  text-align:right;
  margin:-5px -2px -4px 4px;
  font-size: 0px;
}

/*
 * Menu Items
 */
.k-grid .ra-grid-task-item {
  display: inline-block;
}

/*
 * Menu Item icons
 */
.k-grid .ra-grid-task-icon {
  display: inline-block;
  height: 24px;
  padding: 5px 4px 4px 4px;
  box-sizing: border-box;
}

/*
 * Icon Base Color
 */
.grid-highlight-column .ra-grid-task-item i,
.grid-highlight-column-title .ra-grid-task-item i,
.grid-highlight-column-last .ra-grid-task-item i,

.k-state-selected .grid-highlight-column .ra-grid-task-item i,
.k-state-selected .grid-highlight-column-title .ra-grid-task-item i,
.k-state-selected .grid-highlight-column-last .ra-grid-task-item i,

.grid-highlight-column .ra-grid-task-menu:hover .ra-highlight-default-icon i,
.grid-highlight-column-title .ra-grid-task-menu:hover .ra-highlight-default-icon i,
.grid-highlight-column-last .ra-grid-task-menu:hover .ra-highlight-default-icon i {
  color: #a3b8c2;
}

/*
 * Icon Hover Color
 */
.grid-highlight-column .ra-grid-task-item:hover i,
.grid-highlight-column-title .ra-grid-task-item:hover i,
.grid-highlight-column-last .ra-grid-task-item:hover i,

.k-state-selected .ra-grid-task-item:hover i,
.k-state-selected .grid-highlight-column .ra-grid-task-item:hover i,
.k-state-selected .grid-highlight-column-title .ra-grid-task-item:hover i,
.k-state-selected .grid-highlight-column-last .ra-grid-task-item:hover i,

.k-grid tr:hover .ra-highlight-default-icon i,

.grid-highlight-column .ra-grid-task-menu:hover .ra-highlight-default-icon:hover i,
.grid-highlight-column-title .ra-grid-task-menu:hover .ra-highlight-default-icon:hover i,
.grid-highlight-column-last .ra-grid-task-menu:hover .ra-highlight-default-icon:hover i {
  color: #fff;
}
